/* ======================= */
/* NAVBAR BASE */
/* ======================= */
.custom-navbar {
  backdrop-filter: blur(6px);
  padding: 0.75rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
}

/* ======================= */
/* NAVBAR - MODO CLARO */
/* ======================= */
.modo-claro .custom-navbar {
  background-color: rgba(172, 105, 73, 0.3); /* rojo con transparencia */
}

.modo-claro .custom-navbar .navbar-brand {
  color: white !important;
}

/* ======================= */
/* NAVBAR - MODO OSCURO */
/* ======================= */
.modo-oscuro .custom-navbar {
  background-color: rgba(212, 74, 239, 0.7); /* celeste claro con transparencia */
}

.modo-oscuro .custom-navbar .navbar-brand {
  color: black !important;
}

/* ======================= */
/* BOTONES PERSONALIZADOS */
/* ======================= */
.btn-custom {
  background-color: #5e5a5b;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-custom:hover {
  background-color: #4b4748;
  transform: scale(1.05);
}
